

/** Mobile navigation **/
.title {
    font-size: 25px;
    margin-left: 20px;
    vertical-align: middle;
    height: 35px;
    font-weight: 400;
}


.mobile {
    /*position: static;*/
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    position: fixed;
    display: flex;
    z-index: 100;
}


.mobile__background {
    position: fixed;
    top: 0;
    z-index: 40;
    background: #00000045;
    width: 100vw;
    height: 100vh;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;


    transform: translateX(-100%);
    opacity: 0;

    /*transition: opacity 500ms ease-out;*/
    transition-property: opacity, transform;
    transition-delay: 0s, 400ms;
    transition-duration: 400ms, 400ms;
}

.mobile__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: translateX(-100%);
    transition: transform 500ms ease-out;
}

.mobile__sidebar__account {
    width: 100%;
    height: 160px;
    background: #007ac5;
    padding: 15px;
    box-sizing: border-box;


    /*margin: 0 10px;*/

    /*font-size: 18px;*/
    text-align: left;

    transition: background-color 500ms ease-out;


}

.mobile__sidebar__account:hover {
    background: #006cae;
}


/* User profile block */
.mobile__sidebar__avatar {
    width: 80px;
    height: 80px;
    background-image: url('../images/avatar.png');
    border-radius: 50%;
    background-size: cover;

}

.mobile__sidebar__name {
    font-size: 18px;
    color: white;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
}

.mobile__sidebar__phone {
    transform: translateY(-10px);
    width: 100%;
    color: #e3e6e5;
    size: 16px;
    margin: 0;
    font-weight: normal;

}


/* Menu elements  */
.mobile__sidebar__group {
    margin: 10px 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}


.mobile__item {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    align-items: center;

    /*background: #808991;*/
    color: #595959;
    cursor: pointer;
    transition: 500ms;

}

.mobile__item:hover {
    background: #D1D4D3;
    /*color: #4f4f4f;*/

}

.mobile__item__active {
    background: #e2e2e2;
    /*color: #a5a5a5;*/
    pointer-events: none;
}


.mobile__item__icon {
    height: 25px;
    width: 25px;

    vertical-align: middle;

    color: #dddddd;
    font-size: 20px;
}

.mobile__item__active .mobile__item__icon {

    color: #9c9c9c;
}

.mobile__item__name {
    margin-left: 25px;

    height: 20px;
    vertical-align: middle;

    /*font-weight: bold;*/
}

.mobile__item__notification {
    color: white;
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: center;

    position: absolute;
    right: 20px;

    visibility: hidden;
}

.mobile__item__notification.active {
    visibility: visible;
}



/* Hidden for unreg users */
.mobile__item__hidden {
    pointer-events: none;
}

.mobile__item__hidden p {
    color: #9b9b9b;
}

.mobile__item__hidden i {
    color: #eaeaea;
}



/*@media (min-width: 40rem) {*/
/*@media (min-width: 1180px) {*/
/*@media not handheld {*/
/*@media device-aspect-ratio (min-device-aspect-ratio, max-device-aspect-ratio) {*/
@media (min-width : 769px) {
    .mobile__sidebar {
        transform: translateX(0) !important;
        max-width: 270px;
        border-right: 1px #b4b4b4 solid;
    }

    .desktop__navigation div {
        display: block;
    }

    .mobile {
        /*display: none;*/
    }
}