<link rel="stylesheet" href="/components/styles/header.css">

<script>
    function backButton() {
        switch (document.referrer) {
            case "http://ihse.tk/register.html":
                window.location.href = "../login.html";
                break;

            case "http://ihse.tk/create.html":
                window.location.href = "../projects.html";
                break;

            default:
                window.location.href = "http://ihse.tk/";
                break;
        }
    // window.location.href = document.referrer;
    }
</script>

<header class="header">
    <div class="header__left">
        <!--# if expr="$enable_menu" -->
        <nav class="hamburger" onclick="showNav()">
            <button class="hamburger__button">
                <span class="hamburger__button-bar"></span>
                <span class="hamburger__button-bar"></span>
                <span class="hamburger__button-bar"></span>
            </button>
        </nav>
        <!--# else -->
        <nav class="arrow" onclick="backButton()">
            <button class="arrow__button">
                <i class="mobile__item__icon large material-icons">arrow_back</i>
            </button>
        </nav>
        <!--# endif -->

        <div class="title"><!--# echo var="title" default="" --></div>
    </div>
</header>