<link rel="stylesheet" href="/components/styles/class.css">


<div class="overlay" id="class_popup">
    <div class="class_popup__body">
        <div class="class_popup__header">
            <p class="class_popup__header__title">Title</p>
<!--                <i class="close" onclick="document.getElementById('class_popup').style.display = 'none'">Close</i>-->
            <i class="mobile__item__icon large material-icons" onclick="hideClass()">clear</i>
        </div>
        <div class="class_popup__wrapper">
            <div class="class_popup__container">
                <div class="class_popup__block loading__resource">
                    <div class="desc">
                        <p>Some description of the event in several lines lines lines lines lines.</p>
                    </div>
                </div>

                <div class="class_popup__block loading__resource">
                    <i class="mobile__item__icon large material-icons">label_important</i>
                    <div class="anno">
                        <p>Some description of the event in several lines lines lines lines lines.</p>
                    </div>
                </div>
                <div class="moderator_element class_popup__block loading__resource">
                    <i class="mobile__item__icon large material-icons">label_important</i>
                    <div class="anno">
                        <textarea id="anno">Some description of the event in several lines lines lines lines lines.</textarea>
                    </div>
                </div>

                <div class="class_popup__block loading__resource">
                    <i class="mobile__item__icon large material-icons">access_time</i>
                    <div class="time">
                        <p>4 april 2110</p>
                        <p>8:00 - 21:00</p>
                    </div>
                </div>

                <div class="class_popup__block loading__resource">
                    <i class="mobile__item__icon large material-icons">place</i>
                    <div class="location">
                        <p>Some location</p>
                    </div>
                </div>

                <div class="class_popup__block loading__resource">
                    <i class="mobile__item__icon large material-icons">person</i>
                    <div class="host">
                        <p>Host of the event</p>
                    </div>
                </div>

                <div class="moderator_element class_popup__block loading__resource">
                    <i class="mobile__item__icon large material-icons">group</i>
                    <div class="total">
                        <input id="total" value="10">
                    </div>
                </div>

    <!--                <div class="class_popup__block loading__resource">-->
    <!--                    <i class="mobile__item__icon large material-icons">bookmark</i>-->
    <!--                    <div class="anno">-->
    <!--                        <p>Some description of the event in several lines lines lines lines lines.</p>-->
    <!--                    </div>-->
    <!--                </div>-->

                <div style="position: relative">
                    <hr class="border_line">
                    <button id="enroll" class="enroll__button"><i class="mobile__item__icon large material-icons">person_add</i></button>
                    <button id="deenroll" class="enroll__button"><i class="mobile__item__icon large material-icons">person_add_disabled</i></button>
                    <button id="save" class="moderator_element enroll__button"><i class="mobile__item__icon large material-icons">save</i></button>
                </div>
    <!--                <div id="container"></div>-->


                <div class="class_popup__enroll_section loading__resource" style="visibility: visible">

                    <div class="class_popup__block loading__resource">
                        <i class="mobile__item__icon large material-icons ok_status">done</i>
                        <div class="status">
                            <p>Вы записаны на мероприятие!</p>
                        </div>
                    </div>

                    <div class="class_popup__block loading__resource">
                        <i class="mobile__item__icon large material-icons">group</i>
                        <div class="count">
                            <p>14/44</p>
                            <p>2 было; 6 записалсь</p>
                        </div>
                    </div>

                    <div id="users_progress_bar"></div>


                    <!--       TODO: Choose bonus for person             -->
                    <div class="moderator_element users_list" id="users_list"></div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--STD logic -->
<script defer async src="/scripts/main.js"></script>

<script defer async src="/scripts/libs/progressbar.js"></script>  <!-- Progressbar -->
<script defer async src="/components/scripts/class.js"></script>
