<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">

    <meta name="theme-color" content="#006cae">

    <title></title>

</head>
<body>


<!--    <script>-->
<!--        function show() {-->
<!--            var link = document.querySelector('link[rel="import"]');-->
<!--            var content = link.import;-->

<!--            // Grab DOM from warning.html's document.-->
<!--            var el = content.querySelector('.warning');-->

<!--            document.body.appendChild(el.cloneNode(true));-->
<!--        }-->
<!--    </script>-->
<!--    <link rel="import" onload="show()" href="content.html">-->

<link rel="import" href="content.html">

<content>...</content>
<ui-dialog>...</ui-dialog>

<!--  <link rel="import" id="link" onload="show()" href="content.html">-->

    <!--# include file="./content.html" -->
    <div id="container"></div>
</body>
</html>