
body {
    min-height: 85%;
    height: auto;
}

.wrapper {
    height: 100%;
    margin-top: 15px;
}


.topbar  {
    /* TODO: MOve in main.css */

    height: auto;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 27px 10px 27px;

    overflow: hidden;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10px;

    width: 75%;

    align-items: flex-start;
}

.description p {
    margin: 0;
}
.description p:first-child {
    font-size: 18px;
    font-weight: bold;
    color: white;

    min-width: 170px;
}

.description p:last-child {
    font-size: 14px;
    color: #e3e6e5;

    min-width: 100px;
}


.topbar__type {
    position: absolute;
    bottom: 10px;
    right: 27px;
    font-size: 16px;
    color: #dadddc;
}


.topbar img {
    height: 60px;
}

.topbar__avatar {
    width: 60px;
    height: 60px;
    background-image: url('../images/avatar.png');
    border-radius: 50%;
    background-size: cover;
}


.header__button i {
    color: white;
}


.credits {
    width: 100%;
    height: auto;

    white-space: nowrap;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    /*margin: 0 27px;*/

    overflow: hidden;
}

.credits__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60px;
    margin: auto 0;
}

.credits__description p:first-child {
    font-size: 18px;
    font-weight: bold;
}



.border_line {
    margin: 15px 0;
}


.code__input {
    margin-top: 15px;
}


.code__label {
    transform: translateY(0);
    transition: transform 300ms ease-out;
}

.active {
    transform: translateY(-20px);
}





.progress {
    /*margin: 20px;*/
    width: 130px;
    height: 130px;
    position: relative;
}






.account__project {
    width: 100%;
    height: fit-content;
}


.no_project .account__project__create {
    display: flex;
}

.account__project__create {
    width: 100%;
    height: 50px;
    background-color: #007ac5;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.account__project__create * {
    color: #e8e8e8;
    font-weight: 500;
}



.no_project .account__project__info {
    display: none;
}

.account__project__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.account__project__info .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10px;

    width: 75%;
}

.project__top_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__top_line span:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #03053b;

    min-width: 100px;
}

.project__top_line span:last-child {
    font-size: 14px;
    color: #8a8a8a;

    min-width: 50px;
    text-align: right
}

.project img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.description div {
    min-height: 1em;

}

.project__names {
    font-size: 14px;
    display: block;
    height: 1em;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    margin-bottom: 5px;
    line-height: 0.9em;

    color: #adadad;
}


.project__desc {
    display: block;
    height: 1em;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}







@media (min-width : 769px) {
    .header {
        transition: height 300ms ease-out;
        height: 70px;
        background: none;
        z-index: 200;
    }

    .wrapper {
        margin-top: 85px;
    }


    .topbar {
        margin-top: 0;
        position: fixed;
        top: 0px;
        z-index: 100;
        padding-left: calc(50% - 250px);
        padding-right: calc(50% - 250px);
        /**/
        /*padding-left: auto;*/
        /*padding-right: auto;*/
    }
}


.credits__chart__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 200px;

    background-color: #f6f6f6;
    border-radius: 5px;

    padding-bottom: 10px;
    padding-top: 5px;
}

.wrapper div::-webkit-scrollbar-thumb {
    background-color: #000000;
}





.credits__history {
    width: 100%;
    height: fit-content;
}


.credits__history_day {
    display: flex;
    flex-direction: column;

    margin-top: 4px;
    margin-bottom: 10px;
}

.credits__history_day h3 {
    margin: 0 0 5px 0;
    width: fit-content;
}


.credits__history_item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 4px;
}

.credits__history_item div {
    display: flex;
}


.credits_negative {
    color: #bb1f21;
}

.credits_positive {
    color: #227a18;
}