


.user_type, .event_type, .bool_type {
    width: 85px;
    height: 30px;

    padding-top: 3px;

    color: #f8f9fa;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
}


.regular_event {
    background-color: #a7a9a8;
}
.regular_user, .fun_event, .true_bool {
    background-color: #307bbb;
}

.moderator_user, .class_event {
    background-color: #fd8817;
}

.admin_user, .false_bool {
    background-color: #DB2828;
}



.replaced_cell {
    font-style: italic;
}



div.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;


    height: 70px;
    width: calc(100% + 30px);
    border-bottom: solid 1px #151552;
    background-color: #efefef;
    margin-bottom: 25px;

    overflow-x: scroll;
}

div.tabs button {
    height: 90%;
    background-color: #cacaca;
    color: #0d0d2f;
    position: relative;
    border-radius: 10px!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

div.tabs button * {
    display: inline-block;
    margin: 0;
}


div.tabs button.active_tab {
    background-color: #FFFFFF;
    position: relative;
    top: 1px;
    z-index: 1;
}

div.tabs button[disabled] {
    color: #a1a1a1;
    background-color: #e6e6e6;
}






.wrapper {
    max-width: 90vw;
    margin: 80px auto 0 auto;
    padding-top: 0;
}


#table {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/

}

button {
    display: inline-flex !important;
    flex-direction: row;
    align-items: center;
}

button * {
    display: inline-block;
    margin: 0!important;
}

button:hover {
    background: #006cae;
}

button.danger_button {
    z-index: 10;
    background: #00000000;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}

button.danger_button:hover  {
    z-index: 10;
    background: #00000010;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}


#app table {
    border-collapse: collapse;
    margin: 15px auto;
    width: 85vw;

    border-radius: 15px;

    margin-bottom: 70px;
}


/*tr {*/
/*    border:1pt solid #cccccc;*/

/*}*/

/*tr:hover {*/
/*    background: #00000005;*/
/*}*/

/*tr button {*/

/*}*/

/*td {*/
/*    border-left: 1pt solid #e2e2e2;*/
/*    border-right: 1pt solid #e2e2e2;*/
/*}*/



/*thead {*/
/*    background-color: #a7a7a7;*/
/*}*/

/*thead tr {*/
/*    height: 50px !important;*/
/*}*/

/*thead th {*/
/*    border-left: 1pt solid #898989;*/
/*    border-right: 1pt solid #898989;*/
/*}*/

/*thead tr:hover {*/
/*    background: #00000000;*/
/*}*/





button {
    display: inline;
    width: fit-content;

    height: auto;
    border-radius: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

button:not(.danger_button) {
    padding-right: 10px;
}


button.update {
    margin-top: 100px;
}