
.wrapper {
    padding-top: 10px;
    margin-top: 10px;
}




.day:hover {
    background: linear-gradient(0deg, #00000025 0%, #00000005 40%, #00000000 100%);

}

.day:hover .day__num {
    background-color: #0083d4;
}


.day {
    width: auto;
    flex-direction: column;

    display: inline-flex;
    transition: background-color 300ms ease-out;

    cursor: pointer;
}


.day__num {
    vertical-align: middle;
    line-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 5px 7px;

    background-color: #00000015;
    color: var(--header-light-colour);
    font-size: 18px;
    border-radius: 50%;

    transition: background-color 300ms ease-out;
}

.selected {
    background-color: #00000020;
    background: linear-gradient(0deg, #00000030 0%, #00000020 60%, #00000010 80%, #00000000 100%) !important;
}

.selected .day__num {
    background-color: #0085d6 !important;
}



.disabled {
    cursor: default;
}

.disabled div {
    color: var(--hint-light-colour);
}

.day.disabled:hover {
    /*background: 0;*/
}

.day.disabled:hover .day__num {
    background-color: #0085d6;
/*  TODO: check right colour  */
}

.day.disabled .day__num {
    background-color: #0085d6;
}




.today .day__num {
    background-color: var(--accent-colour) !important;
}

.day__name {
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: var(--subtext-light-colour);
}




.time {
    position: relative;
}

.event {
    position: relative;
}







/* width */
::-webkit-scrollbar {
    display: none;
}







@media (min-width : 769px) {
    .header {
        height: 0;
    }

    .wrapper {
        margin-top: 70px;
    }


    .topbar {
        margin-top: 0;
        position: fixed;
        top: 0px;
        z-index: 90;
        padding-left: calc(50% - 250px);
        padding-right: calc(50% - 250px);
    }
}





.border_wrapper {
    position: relative;
    height: fit-content;
    width: 100%;

    display: flex;
    align-items: center;
}




.admin .border_wrapper {
    /*display: none;*/
    height: 50px;
}

.add_time_button {
    color: white;
    background-color: #0085d650;

    height: 25px;
    width: 25px;
    margin: auto;
    border-radius: 50%;

    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 25px/2);
}


.add_time_button:hover {
    background-color: #0085d6;
}





.add_event_button {
    color: white;
    font-size: 20px;
    background-color: #0085d650;

    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.add_event_button:hover {
    background-color: #0085d699;
}



.remove_event, .copy_event, .edit_event {
    position: absolute;
    top: -6px;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    color: var(--header-colour);
}


.remove_event {
    right: -3px;
    background-color: #ff1e1c;
}

.remove_event:hover {
    background-color: #e10003;
}


.edit_event {
    right: 25px;
    background-color: #0085d650;
}

.edit_event:hover {
    background-color: #0085d699;
}


.copy_event {
    right: 53px;
    background-color: #0085d650;
}

.copy_event:hover {
    background-color: #0085d699;
}






.event button, .border_wrapper button {
    padding: 1px;
}

.event button i {
    padding: 0;
    font-size: 24px;
    color: #3e3e3e;
}