

.create__title {
    color: #333333;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.create__icon {
    display: block;
    position: static;

    background-image: url('../images/icon.png');
    background-attachment: fixed;
    background-position: 50% 27.6%;
    background-size: 60px;
    background-repeat: no-repeat;


    height: 60px;
    width: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;

    transition-property: height, margin-bottom;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-out;
}


.close .create__icon {
    height: 0.1px;
    margin-bottom: 20px;
}



.create__input div {

    font-size: 15px;
    min-height: 35px;
    height: auto;
    overflow: auto;
    padding: 10px 0 3px 5px;
    vertical-align: center;
    width: 100%;

    outline: none;
}



.create__input__div label {
    z-index: -10;
}



.name__input label{
    display: none;
}


.input__icon {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.active .input__icon {
    opacity: 1;
}









@media (min-width : 769px) {
    .wrapper {
        margin-top: 80px;
        max-width: 350px;
    }
}