/* Login page specific css rules  */



.login__title {
    color: #333333;
    font-size: 30px;
    text-align: center;
    /*margin-bottom: 30px;*/
    margin-bottom: 100px;
    font-weight: bold;
}


.login__icon {
    display: block;
    position: static;

    background-image: url('../images/icon.png');
    background-attachment: fixed;
    background-position: 50% 27.6%;
    background-size: 60px;
    background-repeat: no-repeat;


    height: 60px;
    width: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;

    transition-property: height, margin-bottom;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-out;
}


.close .login__icon {
    height: 0.1px;
    margin-bottom: 20px;
}




.login__register {
    /*position: absolute;*/
    margin-top: 30px;
    width: 100%;
    bottom: 15px;
    text-align: center;
    /*padding-top: calc(25vh - 100px);*/

    opacity: 1;
    transition: opacity 300ms ease-out;

}

.close .login__register {
    opacity: 0;
}

.login__register span {
    color: #8a8a8a;
}

.login__register a {

    color: #242473;
    text-decoration: none;
}





.login__button {
    margin-top: 100px;
}




.remember_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}


.remember_checkbox label {
    position: inherit;
    font-size: 12px;
    color: var(--hint-light-colour);
}

.remember_checkbox input {
    position: inherit;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 45px;
}




@media (min-width : 769px) {
    .wrapper {
        margin-top: 80px;
        max-width: 350px;
    }
}