
.wrapper {
    padding: 0;
}

.border_line {
    margin: 0 0;
    width: 100%;
}

.border_line:last-child {
    display: none;
}



.project {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    padding: 7px 10px;

    overflow: hidden;

    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10px;

    width: 75%;
}


/*.description p:last-child {*/
/*    font-size: 14px;*/
/*    color: #e3e6e5;*/
/*    min-width: 100px;*/
/*}*/

.project__top_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__top_line>span:first-child {
    font-size: 18px;
    font-weight: bold;
    color: var(--header-colour);

    min-width: 100px;
}

.project__top_line div span:first-child {
    font-size: 14px;
    color: var(--hint-colour);

    min-width: 50px;
    text-align: right
}

.project__top_line div span:last-child {
    font-size: 14px;
    color: var(--hint-colour);

    min-width: 50px;
    text-align: right
}

.project img {
    height: 60px;
    width: 60px;
    /*border-radius: 50%;*/
    /*border: 1px solid var(--header-colour);*/
}

.description div {
    min-height: 1em;

}

.project__names {
    font-size: 14px;
    display: block;
    height: 1em;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    margin-bottom: 5px;
    line-height: 0.9em;

    color: var(--dark-grey-colour);
}


.project__desc {
    display: block;
    height: 1em;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}





.project__edit_button {
    position: absolute;

    left: 50px;
    top: 45px;

    width: 25px;
    height: 25px;

    cursor: pointer;

    padding-left: 1px;
}