/* Login page specific css rules  */



.register__title {
    color: #333333;
    font-size: 30px;
    text-align: center;
    /*margin-bottom: 30px;*/
    margin-bottom: 100px;
    font-weight: bold;
}


.register__icon {
    display: block;
    position: static;

    background-image: url('../images/icon.png');
    background-attachment: fixed;
    background-position: 50% 27.6%;
    background-size: 60px;
    background-repeat: no-repeat;


    height: 60px;
    width: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;

    transition-property: height, margin-bottom;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-out;
}


.close .register__icon {
    height: 0.1px;
    margin-bottom: 20px;
}



.register__callback {
    /*position: absolute;*/
    margin-top: 30px;
    width: 100%;
    bottom: 15px;
    text-align: center;
    /*padding-top: calc(25vh - 100px);*/

    opacity: 1;
    transition: opacity 300ms ease-out;

}

.close .register__callback {
    opacity: 0;
}

.register__register span {
    color: #8a8a8a;
}

.register__register a {

    color: #03053b;
    text-decoration: none;
}



.politics {
    margin: 5px 15px 0 15px;
    font-size: 12px;
    color: var(--hint-light-colour);
}
.politics a {
    font-style: italic;
}


@media (min-width : 769px) {
    .wrapper {
        margin-top: 80px;
        max-width: 350px;
    }
}