

.wrapper div {
    width: 100%;
}




.feedback_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feedback_header button {
    width: fit-content;
    height: 30px;
}

.feedback_header select {
    width: fit-content;
    height: 30px;
    font-size: 16px;
}


.days_feedback {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day_feedback {
    width: fit-content;
}



.description {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}





.events_feedback, .hosts_feedback {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.day_feedback, .host_feedback {
    display: inline-flex;
    flex-direction: column;
}


.day_feedback .event_title, .host_feedback .host_title {

}


.day_feedback .event_count, .host_feedback .host_count {
    font-style: italic;
}



#top_feedback {
    width: 100%;
}