
.wrapper {
    padding-top: 0;
}

.master {
    background-color: #91a9cd !important;
    border: 1px solid #8499ba !important;
    cursor: pointer;
    border-radius: 5px;
}

.master:hover {
    background-color: #8499ba !important;
    border: 1px solid #8499ba !important;
}

.lecture {
    background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.05) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.05) 50%,rgba(0, 0, 0, 0) 52%) !important;
    background-size: 1em 1em !important;
    background-color: #91a9cd !important;
    border: 1px solid #8499ba !important;
    cursor: pointer;
    border-radius: 5px;
}

.class:hover, .lecture:hover {
    background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.05) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.05) 50%,rgba(0, 0, 0, 0) 52%) !important;
    background-size: 1em 1em !important;
    background-color: #8499ba !important;
    border: 1px solid #8499ba !important;
}




.regular {
    background-color: #bbbdbc !important;
    border: 1px solid #acaead !important;
    cursor: default;
    border-radius: 5px;
}

.regular:hover {
    background-color: #acaead !important;
    border: 1px solid #acaead !important;
    cursor: default;
    border-radius: 5px;
}









