
.wrapper {
    padding-top: 0;
}


.time-entry {
    line-height: 0.8em;
}

.timetable .time-entry {
    border: 0.5px #9a9a9a solid!important;

}


.timetable .time-entry.master-event {
    background-color: #91a9cd;
    cursor: pointer;
    border-radius: 5px;
}

.timetable .time-entry.master-event:hover {
    background-color: #8499ba;
}

.timetable .time-entry.lecture-event {
    background-color: #91a9cd;
    cursor: pointer;
    border-radius: 5px;
}

.timetable .time-entry.lecture-event:hover {
    background-color: #91a9cd;
    cursor: pointer;
    border-radius: 5px;
}



.timetable .time-entry.regular-event {
    background-color: #bbbdbc;
    cursor: default;
    border-radius: 5px;
}

.timetable .time-entry.regular-event:hover {
    background-color: #acaead;
    cursor: default;
    border-radius: 5px;
}



.timetable .time-entry.fun-event {
    background-color: #bd9763;
    cursor: default;
    border-radius: 5px;
}

.timetable .time-entry.fun-event:hover {
    background-color: #b3874a;
    cursor: default;
    border-radius: 5px;
}









