.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none
}
.popup_body {
    position: fixed;
    padding:20px;
    top: 50%;
    left: 50%;
    width: 690px;
    height: 400px;
    margin: -220px 0 0 -345px;
    background: #e9e9e9;
    border-radius: 5px;
}
.popup_body a.close {
    position: relative;
    z-index: 1100;
    float: right;
    margin: 15px 15px 0 0;
    display: block;
    width:12px;
    height:12px;
    background: url(ic_close.png) 0px 0px;
}
.popup_body a.close:hover {background-position: 0px 12px}




















.wrapper {
    max-width: 90vw;
    margin: 80px auto 0 auto;
}


#table {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}


button:hover {
    background: #006cae;
}

button.danger_button {
    z-index: 10;
    background: #00000000;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}

button.danger_button:hover  {
    z-index: 10;
    background: #00000010;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}


#app table {
    border-collapse: collapse;
    margin: 15px auto;
    width: 85vw;

    border-radius: 15px;

    margin-bottom: 70px;
}


/*tr {*/
/*    border:1pt solid #cccccc;*/

/*}*/

/*tr:hover {*/
/*    background: #00000005;*/
/*}*/

/*tr button {*/

/*}*/

/*td {*/
/*    border-left: 1pt solid #e2e2e2;*/
/*    border-right: 1pt solid #e2e2e2;*/
/*}*/



/*thead {*/
/*    background-color: #a7a7a7;*/
/*}*/

/*thead tr {*/
/*    height: 50px !important;*/
/*}*/

/*thead th {*/
/*    border-left: 1pt solid #898989;*/
/*    border-right: 1pt solid #898989;*/
/*}*/

/*thead tr:hover {*/
/*    background: #00000000;*/
/*}*/





button {
    display: inline;
    width: fit-content;

    height: auto;
    border-radius: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

button:not(.danger_button) {
    padding-right: 10px;
}