.wrapper {
    max-width: 90vw;
    margin: 80px auto 0 auto;
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}


button:hover {
    background: #006cae;
}

button.danger_button {
    z-index: 10;
    background: #00000000;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}

button.danger_button:hover  {
    z-index: 10;
    background: #00000010;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}


#app table {
    border-collapse: collapse;
    margin: 15px auto;
    width: 85vw;

    border-radius: 15px;

    margin-bottom: 70px;
}


tr {
    border:1pt solid #cccccc;

}

tr:hover {
    background: #00000005;
}

tr button {
    display: inline;
    width: fit-content;
    height: 30px;
    margin: 5px auto;
}

td {
    border-left: 1pt solid #e2e2e2;
    border-right: 1pt solid #e2e2e2;
}



thead {
    background-color: #a7a7a7;
}

thead tr {
    height: 50px !important;
}

thead th {
    border-left: 1pt solid #898989;
    border-right: 1pt solid #898989;
}

thead tr:hover {
    background: #00000000;
}



.top_table_panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  Nav fields  */

.vuetable-pagination {
    display: flex;
    align-items: center;
}

.vuetable-pagination-info {
    display: inline;
}

.pagination {
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
}

.pagination a {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px;

    font-size: 16px;
    color: #0d0d2f;
    text-align: center;

    border-collapse: collapse;
    border: solid 1px #bbbbbb;
}

.pagination a:hover {
    background-color: #00000005;
}
.pagination a.active {
    background-color: #00000015;
}


.pagination a.btn-nav {
    color: #2c3e50;
    display: none;
}


/*  Search field */

#app .search_field_panel {
    height: auto;
    width: fit-content;
}

#app .search_field_panel button {
    display: inline;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    margin: 5px auto;
}

#app .search_field_panel  label {
    position: static;
    width: auto;
}

#app .search_field_panel  input {
    border: solid 1px #d7d7d7;
    border-radius: 5px;
    position: static;
    width: auto;
}



