

.header {
    background: none;
}

.wrapper {
    margin-top: 0;
}

.topbar {
    margin-top: 0;
    height: 200px;

    background-color: #00b3bc;
}




.description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 50px;
    width: 100%;
}

.description i {

}

.description div {
    margin-left: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.description .anno p:first-child {
    color: #494949;
    font-weight: normal;
}

.description div p:first-child {
    color: #494949;
    font-weight: bold;
}

.description div p:nth-child(2) {
    color: #b4b4b4;
    font-weight: lighter;
}



.count {
    align-self: left;
    margin-top: 30px;
    font-weight: lighter;
    font-size: 14px;
    color: #b4b4b4;

}

#container {
    margin: 5px 0 0 0;
    width: 100%;
    height: 8px;
}

.enroll__button {
    margin-top: 60px;
}


.inactive {
    background-color: #8da6cd;
    pointer-events: none;
}




@media (min-width : 769px) {


    .title {
        display: block;
    }


}

