/* index page specific css rules  */

@import url('https://fonts.googleapis.com/css?family=Hind|Indie+Flower');



/*background*/
.background__image {
    background: url("image/background.jpg");
    width: 100vw;
    height: 140vh;
    background-size: cover;
    background-position: center;
}

.scroller {
    height: auto;
    width: auto;
    margin-top: 60px;
    overflow: auto;
}

/*footer*/
footer div {
    color: gray;
    font-family: 'Indie Flower', sans-serif;
    font-size: 60px;
    width: 80vw;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}





.wrapper {
    padding-top: 20px;
}




.calendar__day {
    display: flex;
    flex-direction: column;
    justify-content: left;

    width: 100%;
    height: auto;

    /*background-color: #adadad;*/
}


.time {
    display: flex;
    flex-direction: row;
    justify-content: left;
}



.border_line {
    margin: 15px 0 25px 0;
}


.bar {
    width: 50px;
    margin-right: 15px;
    font-size: 23px;
}

.bar div {
    width: 50px;
    line-height: 1.3em;
}

.events {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;

    /*background-color: #007ac5;*/
    /*background-color: #e3e6e5;*/
}



.event p {
    margin: 0;
}

.event {
    border-radius: 5px;

    width: 100%;

    background-color: #e3e6e5;

    padding: 10px 10px;
    /*background-color: orange;*/
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.event:last-child {
    margin-bottom: 0;
}

.calendar__day hr:last-child {
    display: none;
}


.event__last_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 5px;
}

.event__last_line span:first-child {
    font-size: 16px;
    font-weight: lighter;
    color: #333333;
    width: -webkit-fill-available;

    /*display: table-cell;*/
    /*vertical-align: bottom;*/
    height: 100%;
}

.event__last_line span:last-child {
    font-size: 14px;
    color: #8a8a8a;
    text-align: right;
    width: 100%;
}

.event__title {
    line-height: 1em;
    font-size: 20px;
    font-weight: bold;
}

.event__desc {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2em;
    line-height: 1em;
}



.event[data-id] {
    background-color: #c4dcf5;
}
