@import url('https://fonts.googleapis.com/css?family=Hind|Indie+Flower');

html, body {
    margin: 0;
    font-family: 'Hind', sans-serif;
    box-sizing: border-box;
    font-size: 16px;

    height: 100%;
    overflow-y: hidden;
    /*display: block;*/
}

* {
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    background: rgb(24, 109, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: left;

    height: 60px;
    height: 3.75rem;
    width: 100vw;
    padding: 5px 20px;

    font-size: 25px;

    /*z-index: 50;*/
}

/*hamburger icon*/
.hamburger {
    display: flex;
    align-items: center;
}

.hamburger__button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.hamburger__button:focus {
    outline: none;
}

.hamburger__button-bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}

/*desktop*/
.desktop__navigation {
    display: flex;
    justify-content: flex-end;
}

.desktop__navigation div {
    padding-left: 20px;
    display: none;
}

/*background*/
.background__image {
    background: url("image/background.jpg");
    width: 100vw;
    height: 140vh;
    background-size: cover;
    background-position: center;
}

/*footer*/
footer div {
    color: gray;
    font-family: 'Indie Flower', sans-serif;
    font-size: 60px;
    width: 80vw;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}

/*Mobile navigation*/
.title {
    margin-left: 25px;
}

.mobile {
    position: fixed;
    display: flex;
    width: auto;
    height: auto;
}

.mobile__background {
    position: fixed;
    top: 0;
    z-index: 40;
    background: rgba(90, 90, 90, 0.3);
    width: 100vw;
    height: 100vh;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;


    transform: translateX(-100%);
    opacity: 0;

    /*transition: opacity 500ms ease-out;*/
    transition-property: opacity, transform;
    transition-delay: 0s, 400ms;
    transition-duration: 400ms, 400ms;
}

.mobile__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(90, 90, 90, 0.9);
    width: 80vw;
    height: 100vh;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: translateX(-100%);
    transition: transform 500ms ease-out;
}

.mobile__sidebar__account {
    width: 100%;
    height: 160px;
    background: #c7ffff;
    padding: 20px;
    box-sizing: border-box;


    /*margin: 0 10px;*/

    font-size: 20px;
    text-align: left;

}

.mobile__sidebar__avatar {
    width: 80px;
    height: 80px;
    background-image: url("avatar.jpg");
    border-radius: 50%;
    background-size: cover;

}



.mobile__sidebar__name {

    margin-top: 10px;
    width: 100%;
    font-weight: 600;
}

.mobile__sidebar__phone {
    transform: translateY(-10px);
    width: 100%;
    color: #d9d59f;
    size: 18px;
    font-weight: normal;

}



.mobile__sidebar__group {
    margin: 10px 0;
    padding: 0;
    background: #6a6fff;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}


.mobile__item {
    list-style: none;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    align-items: center;

    background: #808991;
    color: #FFF;
    cursor: pointer;
    transition: 500ms;

}

.mobile__item:hover {
    background: #D0D941;
    color: #000;

}

.mobile__item__active {
    background: #d9d59f;
    color: #a5a5a5;
}


.mobile__item__icon {
    height: 40px;
    width: 40px;

    margin: 0 20px;
}




.mobile__item__name {

}




.open {
    display: flex;
    transform: translateX(0);
}
.open .mobile__background{

    opacity: 1;

    transform: translateX(0);
    /*transition: transform 0ms ease-out;*/


    transition-property: opacity, transform;
    transition-delay: 0s, 0ms;
    transition-duration: 400ms, 0ms;
}

.open .mobile__sidebar {
    top: 0;
    transform: translateX(0);
}





/*@media (min-width: 40rem) {*/
/*@media (min-width: 1180px) {*/
/*@media not handheld {*/
/*@media device-aspect-ratio (min-device-aspect-ratio, max-device-aspect-ratio) {*/
@media (min-width : 769px) {

    .header {
        justify-content: space-between;
    }

    .title {
        display: none;
    }

    .hamburger__button {
        display: none;
    }

    .desktop__navigation div {
        display: block;
    }

    .mobile {
        display: none;
    }
}