/* Main site css rules. Main button, div, img and etc design */


@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.google.com/sr?family=Myriad&token=AD');


html, body {

    font-family: 'Hind', sans-serif;
    /*font-family: 'Myriad', sans-serif;*/
    /*font-weight: lighter;*/
    position: static;

    margin: 0;
    box-sizing: border-box;
    font-size: 16px;

    height: 100%;
    top: 0;
    /*padding-top: 60px;*/
    display: block;
    /*overflow-y: hidden;*/
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0f3063;
    width: 100%;
    height: 100%;
}

p {
    vertical-align: middle;
    color: #0d0d2f;
    margin: 0;
}

input {
    outline: none;
    border: none;
}


button {
    outline: none;
    border: none;
    margin: 0;
}



button {
    display: block;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;


    /*font-family: Poppins-Medium;*/
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    z-index: 10;
    background: #007ac5;
}

label {
    font-size: 16px;
    position: absolute;
    top: 10px;
    width: 100%;
    vertical-align: middle;
}


input {
    color: #333333;
    font-size: 15px;
    width: 100%;
    height: 35px;

    padding-left: 5px;
}


form {
    color: #9f9f9f;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    height: 100%;
}



.input_div {
    margin-bottom: 40px;
    display: block;
    position: relative;
    /*border: 1px black solid;*/
    border-bottom: 2px solid #adadad;
}


.wrapper {
    /* TODO: Optimize */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    padding: 15px;
    height: 100%;
    height: auto;

    overflow-x: hidden;

    max-width: 400px;
    margin: 0 auto;

    margin-top: 60px;
}


.footer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    padding: 15px;
    height: 100%;
    height: auto;
    padding-top: 10px;
}


.form {
    margin-top: 30px;
    width: 200px;
    z-index: 10;
}



.header {
    position: fixed;
    top: 0;
    background: #007AC5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: left;

    height: 3.75rem;
    height: 60px;
    width: 100vw;
    padding: 5px 20px;

    font-size: 25px;

    z-index: 20;
}


.header__button {
    display: block;
    font-size: 35px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}

.header__button a {
    color: white;
}



.loading {
    margin: 30% auto;
    width: 45px;


    opacity: 30%;
}



.border_line {
    background-color: #D1D4D3;
    width: 100%;
    height: 1px;
    border: none;
    margin: 0;
}

.mobile__sidebar .border_line {
    margin: 5px 0px;
}



/** Desktop navigation **/
.desktop__navigation {
    display: flex;
    justify-content: flex-end;
}

.desktop__navigation div {
    padding-left: 20px;
    display: none;
}



/** Mobile navigation **/
.title {

    font-size: 25px;
    margin-left: 20px;
    vertical-align: middle;
    height: 35px;
    font-weight: 400;
}

.mobile {
    position: static;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    position: fixed;
    display: flex;
    z-index: 100;
}

/* back button */
.arrow {
    display: flex;
    align-items: center;
}

.arrow__button {
    color: white;
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.arrow__button i {
    vertical-align: middle;
    color: white;
    font-size: 30px;
    height: 1em;
}

/*hamburger icon*/
.hamburger {
    display: flex;
    align-items: center;
}

.hamburger__button {
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.hamburger__button:focus {
    outline: none;
}

.hamburger__button-bar {
    width: 100%;
    height: 0.15rem;
    background: white;
    display: block;
    margin: 0.4rem 0;
}


.mobile__floating__button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    top: calc(100% - 56px - 15px);
    left: calc(100% - 56px - 15px);
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    background-color: #007ac5;
    border-radius: 50%;
    transition: background-color 500ms ease-out;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

    transform: translateY(0);
    transition: transform 500ms ease-in-out;
    /*TODO*/

    z-index: 20;
}


.mobile__floating__button:hover {
    background: #007ac5;
}


.mobile__floating__button__icon {
    font-family: 'Hind', sans-serif;
    vertical-align: middle;
    transform: translateY(-80%);
    color: white;
    font-size: 50px;
    margin: auto;
    height: 27px;
}


.hide {
    transform: translateY(150%);
}



.mobile__background {
    position: fixed;
    top: 0;
    z-index: 40;
    background: #00000045;
    width: 100vw;
    height: 100vh;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;


    transform: translateX(-100%);
    opacity: 0;

    /*transition: opacity 500ms ease-out;*/
    transition-property: opacity, transform;
    transition-delay: 0s, 400ms;
    transition-duration: 400ms, 400ms;
}

.mobile__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: translateX(-100%);
    transition: transform 500ms ease-out;
}

.mobile__sidebar__account {
    width: 100%;
    height: 160px;
    background: #007ac5;
    padding: 15px;
    box-sizing: border-box;


    /*margin: 0 10px;*/

    /*font-size: 18px;*/
    text-align: left;

    transition: background-color 500ms ease-out;


}

.mobile__sidebar__account:hover {
    background: #006cae;
}


/* User profile block */
.mobile__sidebar__avatar {
    width: 80px;
    height: 80px;
    background-image: url('../images/avatar.png');
    border-radius: 50%;
    background-size: cover;

}

.mobile__sidebar__name {
    font-size: 18px;
    color: white;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
}

.mobile__sidebar__phone {
    transform: translateY(-10px);
    width: 100%;
    color: #e3e6e5;
    size: 16px;
    margin: 0;
    font-weight: normal;

}


/* Menu elements  */
.mobile__sidebar__group {
    margin: 10px 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}


.mobile__item {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    align-items: center;

    /*background: #808991;*/
    color: #595959;
    cursor: pointer;
    transition: 500ms;

}

.mobile__item:hover {
    background: #D1D4D3;
    /*color: #4f4f4f;*/

}

.mobile__item__active {
    background: #e2e2e2;
    /*color: #a5a5a5;*/
    pointer-events: none;
}


.mobile__item__icon {
    height: 25px;
    width: 25px;


    vertical-align: middle;

    color: #b4b4b4;
    font-size: 25px;
}

.mobile__item__name {
    margin-left: 25px;

    height: 20px;
    vertical-align: middle;

    font-weight: bold;
}

.mobile__item__notification {
    color: white;
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: center;

    position: absolute;
    right: 20px;

    visibility: hidden;
}

.mobile__item__notification.active {
    visibility: visible;
}



/* Hidden for unreg users */
.mobile__item__hidden {
    /*display: none;*/
}

.mobile__item__hidden {
    pointer-events: none;
}

.mobile__item__hidden p {
    color: #9b9b9b;
}

.mobile__item__hidden i {
    color: #eaeaea;
}






/* Open sidebar */
.open {
    display: flex;
    transform: translateX(0);
}

.open .mobile__background{

    opacity: 1;

    transform: translateX(0);
    /*transition: transform 0ms ease-out;*/


    transition-property: opacity, transform;
    transition-delay: 0s, 0ms;
    transition-duration: 400ms, 0ms;
}

.open .mobile__sidebar {
    top: 0;
    transform: translateX(0);
}






.topbar  {
    position: relative;

    padding-left: 5px;
    padding-right: 5px;

    background-color: #007ac5;

    margin-top: 60px;
    width: 100%;
    height: 60px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}




/* Login, register and etc fields */



.hide__pass {
    position: absolute;

    /*background-color: #b4b4b4;*/
    width: 20px;
    height: 20px;

    right: 5px;
    bottom: 8px;
}

.hide__pass i {
    font-size: 20px;
    width: 20px;
    height: 20px;
}




.shell {
    position: relative;
    line-height: 1; }
.shell span {
    position: absolute;
    left: 3px;
    top: 1px;
    color: #ccc;
    pointer-events: none;
    z-index: -1; }
.shell span i {
    font-style: normal;
    /* any of these 3 will work */
    color: transparent;
    opacity: 0;
    visibility: hidden; }

input.masked,
.shell span {
    font-size: 16px;
    font-family: monospace;
    padding-right: 10px;
    background-color: transparent;
    text-transform: uppercase; }



#phoneMask {
    opacity: 0;

    transition: opacity 300ms ease-out;
}

.active #phoneMask {
    opacity: 1;
}




/* Login register, etc inputs */
.form__input {

    margin-bottom: 40px;
    display: block;
    position: relative;
    /*border: 1px black solid;*/
    border-bottom: 2px solid #adadad;
}

.form__input label {
    font-size: 16px;
    position: absolute;
    top: 10px;
    width: 100%;
    vertical-align: middle;
}


.form__input input {
    color: #333333;
    font-size: 15px;
    width: 100%;
    height: 35px;

    padding-left: 5px;
}


.form__input label {
    transform: translateY(0);
    transition: transform 300ms ease-out;
}

.form__input.active label {
    transform: translateY(-20px);
}

.form__input select {
    width: 100%;
    height: 35px;
    font-size: 15px;

    outline: none;
    background-color: white;
    border: none;
}












/*@media (min-width: 40rem) {*/
/*@media (min-width: 1180px) {*/
/*@media not handheld {*/
/*@media device-aspect-ratio (min-device-aspect-ratio, max-device-aspect-ratio) {*/
@media (min-width : 769px) {


    .mobile__sidebar {
        transform: translateX(0) !important;
        max-width: 270px;
        border-right: 1px #b4b4b4 solid;
    }

    body {
        background-color: #00000010;
    }

    .wrapper {
        margin-top: 70px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px #e3e6e5 solid;
        max-width: 500px;
        background-color: white;
    }

    .title {
        display: none;
    }

    .hamburger__button {
        display: none;
    }

    .desktop__navigation div {
        display: block;
    }

    .mobile {
        /*display: none;*/
    }

    .mobile__floating__button {
        display: none;
    }
}