
.wrapper {
    padding-left: 0;
    padding-right: 0;
}

.border_line {
    margin: 0 0;
    width: 100%;
}

.border_line:last-child {
    display: none;
}



.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    padding: 7px 10px;
    background-color: white;

    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 10px;

    width: 75%;
}

.project__top_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__top_line span:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #03053b;
}

.project__top_line span:last-child {
    font-size: 14px;
    color: #8a8a8a;
}

.project img {
    height: 60px;
}

.description div {
    min-height: 1em;

}

.project__names {
    font-size: 14px;
    display: block;
    height: 1em;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    margin-bottom: 5px;
    line-height: 0.9em;

    color: #adadad;
}


.project__desc {
    display: block;
    height: 1em;
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}