/* Login page specific css rules  */


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.wrapper form {
    color: #9f9f9f;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.register__title {
    color: #333333;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}


.register__icon {
    display: block;
    position: static;

    background-image: url('../images/icon.png');
    background-attachment: fixed;
    background-position: 50% 27.6%;
    background-size: 60px;
    background-repeat: no-repeat;


    height: 60px;
    width: 60px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;

    transition-property: height, margin-bottom;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-out;
}


.close .register__icon {
    height: 0.1px;
    margin-bottom: 20px;
}


.register__input {
    margin-bottom: 40px;
    display: block;
    position: relative;
    /*border: 1px black solid;*/
    border-bottom: 2px solid #adadad;
}

.register__input label {
    font-size: 16px;
    position: absolute;
    top: 10px;
    width: 100%;
    vertical-align: middle;
}


.register__input input {
    color: #333333;
    font-size: 15px;
    width: 100%;
    height: 35px;

    padding-left: 5px;
}


.register__label {
    transform: translateY(0);
    transition: transform 300ms ease-out;
}

.active {
    transform: translateY(-20px);
}



.register__callback {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    /*padding-top: calc(25vh - 100px);*/

    opacity: 1;
    transition: opacity 300ms ease-out;

}

.close .register__callback {
    opacity: 0;
}

.register__register span {
    color: #8a8a8a;
}

.register__register a {

    color: #03053b;
    text-decoration: none;
}



.hide__pass {
    position: absolute;

    /*background-color: #b4b4b4;*/
    width: 20px;
    height: 20px;

    right: 5px;
    bottom: 8px;
}

.hide__pass i {
    font-size: 20px;
    width: 20px;
    height: 20px;
}