


.class {
    background-color: #cc333b !important;
    border: 1px solid #ed2e1c !important;
    cursor: pointer;
    border-radius: 5px;
}

.class:hover {
    background-color: #a62a31!important;
    border: 1px solid #e32c1b!important;
}

.regular {
    background-color: #b7b7b7 !important;
    border: 1px solid #aeaeae !important;
    cursor: default;
    border-radius: 5px;
}

.regular:hover {
    background-color: #a8a8a8!important;
    border: 1px solid #8a8a8a !important;
    cursor: default;
    border-radius: 5px;
}









