.cell {
    cursor: pointer;
}

.cell:hover {
    font-weight: bold;
}

.cell p {
    margin: 0;
}


.total_cell {
    font-weight: bold;
    font-style: italic;
    background-color: #0000000E;
}

.title_cell {
    background-color: #0000000F;
}


.master-event {
    background-color: #c4dcf530;
}
.lecture-event {
    background-color: #b3b8f530;
}
.fun-event {
    background-color: #e0e0e025;
}










div.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;


    height: 70px;
    width: calc(100% + 30px);
    border-bottom: solid 1px #151552;
    background-color: #efefef;
    margin-bottom: 25px;

    overflow-x: scroll;
}

div.tabs button {
    height: 90%;
    background-color: #cacaca;
    color: #0d0d2f;
    position: relative;
    border-radius: 10px!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

div.tabs button * {
    display: inline-block;
    margin: 0;
}


div.tabs button.active_tab {
    background-color: #FFFFFF;
    position: relative;
    top: 1px;
    z-index: 1;
}

div.tabs button[disabled] {
    color: #a1a1a1;
    background-color: #e6e6e6;
}






.wrapper {
    max-width: 90vw;
    margin: 80px auto 0 auto;
    padding-top: 0;
}


#table {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/

}

button {
    display: inline-flex !important;
    flex-direction: row;
    align-items: center;
}

button * {
    display: inline-block;
    margin: 0!important;
}

button:hover {
    background: #006cae;
}

button.danger_button {
    z-index: 10;
    background: #00000000;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}

button.danger_button:hover  {
    z-index: 10;
    background: #00000010;

    box-shadow: 0 0 0 1px #DB2828 inset!important;
    color: #DB2828!important;
}


#app table {
    border-collapse: collapse;
    margin: 15px auto;
    /*width: 85vw;*/

    border-radius: 15px;

    margin-bottom: 70px;
}






button {
    display: inline;
    width: fit-content;

    height: auto;
    border-radius: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

button:not(.danger_button) {
    padding-right: 10px;
}


button.update {
    margin-top: 100px;
}






.table thead th.data_cells .th-inner {
  overflow: inherit;
}


th.data_cells {
    position:relative;
    box-sizing: border-box;
    height: 120px;
    min-width: 50px;
    white-space: nowrap;
}

th.data_cells:not(.id) > div {
    position:absolute;
    bottom: 0;
    left: 0;
    padding-right: 16px!important;
    transform: translate(35px, 7px) rotate(-78deg);
    /*transform: rotate(-20deg);*/
    transform-origin: left bottom;
    width: 120px;
}



th[data-field=id] > div {
    padding: 0px!important;
}
th[data-field=id] {
    max-width: 10px;
}



.user_ref {
    /*color: var(--subtext-colour);*/
    color: #2c3e50;
    /*font-style: italic;*/
    font-weight: 500;
}