

.wrapper {
    justify-content: start;
}




#save {
    cursor: pointer;
}



.description {
    width: 100%;
    transition: all 1.0s ease-out;

    margin-bottom: 25px;
}

.description__topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description h2 {
    margin: 0 0 10px 0;
}

.validator {
    font-style: italic;
}



.type {
    width: 85px;
    height: 30px;
}

.event_type {
    width: inherit;
    height: inherit;
    padding-top: 5px;
    padding-left: 5px;

    color: #f8f9fa;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #a1a1a1;

    /*margin: 0 auto 0 auto;*/
}


.master_event {
    background-color: #307bbb;
}

.lecture_event {
    background-color: #fd8817;
}




.wrapper, body {
    transition: all 0.5s ease-out;
}


.scanned .qrscanner video {
    border: solid 5px #5ec933;

    transition: all 0.5s ease-out;

    cursor: pointer;
}


.scanned .wrapper, .scanned {
    background-color: #c2f4b3;
    transition: all 0.1s ease-out;
}


.wrong_scanned .qrscanner video {
    border: solid 5px #c91e1a;

    transition: all 0.5s ease-out;
}


.wrong_scanned .wrapper, .scanned {
    background-color: #f4afaa;
    transition: all 0.1s ease-out;
}




#scanned_list {
    min-height: 100px;
    max-height: 600px;

    overflow-y: scroll;
}



#save {
    /*height: 60px;*/
    /*width: 160px;*/
    /*border-radius: 50%;*/
    /*position: fixed;*/
    /*top: 40px;*/
    /*right: 30px;*/

    margin: 40px 10px 10px 30px;
}






.qrscanner video {
    max-width: 100%;
    max-height: 75%;

    border: solid 5px #0d0d2f00;

    transition: all 1.0s ease-out;
}






.row-element-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-element {
    width: fit-content;
    padding: .2em 0em;
}

.row-element-set-QRScanner {
    max-width: 30em;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
}


.form-field {
    width: 350px;
}

.form-field-caption {
    font-weight: bold;
}

.form-field-input {
    width: 100%;
}







.user {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user p {
    font-style: italic;
}

.user input {
    width: 30px;
}

.remove_scanned {
    width: 25px;
    height: 25px;
    background-color: #e08833;
    border-radius: 50%;
}

.remove_scanned:hover {
    background-color: #ca7a2f;
}